# =========================
# ENTORNO VIRTUAL
# =========================
venv/

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# BASES DE DATOS LOCALES
# =========================
*.db
*.sqlite3

# =========================
# ARCHIVOS DE CONFIG LOCAL
# =========================
.env
config.local.json

# =========================
# LOGS
# =========================
*.log

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# PYCHARM
# =========================
.idea/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# BUILD / DIST
# =========================
build/
dist/
*.spec

# =========================
# TEST CACHE
# =========================
.pytest_cache/
.coverage
htmlcov/